<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.highstreet.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="${APP_ICON}"
        android:label="@string/wallet_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/GAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"
            tools:replace="screenOrientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AgreementActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.InitWalletActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.WalletTypeActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.CreatePasswordActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.CreateWalletActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ImportWalletActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.WalletManageActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.BackupActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.BackupVerifyActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ReceiveActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.TransactionActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ScanActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.TransactionRecordActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.DelegationTransactionRecordActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ValidatorActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ValidatorListActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ValidatorDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeColorBgTheme"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.DelegationActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.DelegationDetailActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.UndelegationActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.RedelegationActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ReceiveRewardActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ProposalDetailActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.CrashActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>


</manifest>